header, footer {
    text-align: center;
}
body {
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    color:red;
}
.container {
    display: flex;
    flex-grow: 1;
}
main {
    flex-grow: 1;
    text-align: center;
}
.left, .right {
    background: no-repeat center/contain url('/project/webroot/img/smile.png');
}